# Openstorage for Containers API spec
swagger: '2.0'
info:
  title: Open Storage for Containers
  description: Open storage API specification
  version: "1.0.0"
# the domain of the service
host: api.uber.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /volumes/:
    get:
      summary: List of Volumes
      description: |
        Returns information on provisioned volumes
      parameters:
        - name: name
          in: query
          description: User specified volume name
          required: false
          type: string
        - name: VolumeLabels
          in: query
          description: Comma separated name value pairs
          required: false
          type: string
        - name: uuid
          in: query
          description: Volume uuid
          required: false
          type: string
          format: uuid
      tags:
        - Volume Enumerate
      responses:
        200:
          description: An array of Volumes
          schema:
            type: array
            items:
              $ref: '#/definitions/Volume'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create New Volume
      description: Create new volume according to spec
      parameters:
        - name: spec
          in: body
          description: Volume spec
          required: true
          schema:
            $ref: '#/definitions/VolumeCreateParams'
      tags:
        - Volume Create
      responses:
        200:
          description: UUID of neewly created volume
          schema:
            $ref: '#/definitions/UUID'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  /volumes/{uuid}:
    get:
      summary: Inspect volume
      description: |
        Retrieves volume as specified by UUID
      parameters:
        - name: uuid
          in: path
          description: Volume UUID
          required: true
          type: string
          format: uuid
      tags:
        - Volume Inspect
      responses:
        200:
          description: Volume mapping to UUID
          schema:
              $ref: '#/definitions/Volume'
        default:
          description: Error retrieving volume
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Change volume state
      description: |
        Attach, detach, format, mount and unmount operations
      parameters:
        - name: uuid
          in: path
          description: Volume UUID
          required: true
          type: string
          format: uuid
        - name: state
          in: body
          description: Desired Volume State
          required: true
          schema:
            $ref: '#/definitions/VolumeStateParams'
      tags:
        - Volume Mount/Unmount/Attach/Detach/Format
      responses:
        200:
          description: Volume reflecting current state
          schema:
              $ref: '#/definitions/Volume'
        default:
          description: Error updating volume
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete Volume
      description: |
        Delete Volume
      parameters:
        - name: uuid
          in: path
          description: Volume UUID
          required: true
          type: string
          format: uuid
      tags:
        - Volume Delete
      responses:
        200:
          description: Volume Deleted
          schema:
              $ref: '#/definitions/UUID'
        default:
          description: Error deleting volume
          schema:
            $ref: '#/definitions/Error'
  /volumes/stats/{uuid}:
    put:
      summary: Retrieve Volume Stats
      description: |
        Retrieve Volume Stats for specified UUID
      parameters:
        - name: uuid
          in: path
          description: Volume UUID
          required: true
          type: string
          format: uuid
 
      tags:
        - Volume Stats
      responses:
        200:
          description: Volume Stats
          schema:
              $ref: '#/definitions/VolumeStats'
        default:
          description: Error Retrieving stats
          schema:
            $ref: '#/definitions/Error'
  /volumes/alerts/{uuid}:
    get:
      summary: Retrieve Volume Alerts
      description: |
        Retrieve Volume Alerts for specified UUID
      parameters:
        - name: uuid
          in: path
          description: Volume UUID
          required: true
          type: string
          format: uuid
 
      tags:
        - Volume Alerts
      responses:
        200:
          description: Volume Alerts
          schema:
              $ref: '#/definitions/VolumeAlerts'
        default:
          description: Error Retrieving stats
          schema:
            $ref: '#/definitions/Error'
  /snapshots/:
    get:
      summary: List of snapshots
      description: |
        Returns information on snapshots
      parameters:
        - name: name
          in: query
          description: Volume name that maps to this snap
          required: false
          type: string
        - name: VolumeLabels
          in: query
          description: Comma separated volume labels
          required: false
          type: string
        - name: SnapLabels
          in: query
          description: Comma separated snap labels
          required: false
          type: string
        - name: uuid
          in: query
          description: Snap UUID
          required: false
          type: string
          format: uuid
      tags:
        - Snap Enumerate
      responses:
        200:
          description: An array of VolumeSnaps
          schema:
            type: array
            items:
              $ref: '#/definitions/VolumeSnap'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create New Snapshot
      description: Create new volume according to spec
      parameters:
        - name: snapParams
          in: body
          description: Snapshot Params
          required: true
          schema:
            $ref: '#/definitions/SnapCreateParams'
      tags:
        - Snapshot Create
      responses:
        200:
          description: UUID of neewly created snapshot
          schema:
            $ref: '#/definitions/UUID'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  /snapshots/{uuid}:
    get:
      summary: Inspect Snapshot
      description: |
        Retrieves snapshot as specified by UUID
      parameters:
        - name: uuid
          in: path
          description: Snap UUID
          required: true
          type: string
          format: uuid
      tags:
        - Snapshot Inspect
      responses:
        200:
          description: Snapshot mapping to uuid
          schema:
              $ref: '#/definitions/VolumeSnap'
        default:
          description: Error retrieving snapshot
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete Snapshot
      description: |
        Delete Snapshot
      parameters:
        - name: uuid
          in: path
          description: Volume UUID
          required: true
          type: string
          format: uuid
      tags:
        - Snapshot Delete
      responses:
        200:
          description: Snapshot Deleted
          schema:
              $ref: '#/definitions/UUID'
        default:
          description: Error deleting snapshot
          schema:
            $ref: '#/definitions/Error'
  /nodes/:
    post:
      summary: Add a new node to the cluster
      description: Node Delete
      parameters:
        - name: name
          in: query
          description: Hostname of the machine joining the cluster
          required: true
          type: string
        - name: spec
          in: body
          description: Node Spec
          required: true
          schema:
            $ref: '#/definitions/NodeSpec'
      tags:
        - Add Node
      responses:
        200:
          description: Node addition acknowlegded
          schema:
            $ref: '#/definitions/UUID'
        default:
          description: Error adding node
          schema:
            $ref: '#/definitions/Error'
  /nodes/{uuid}:
    put:
      summary: Update the status of a node in the cluster
      description: Node Update
      parameters:
        - name: uuid
          in: path
          description: Node UUID
          required: true
          type: string
          format: uuid
        - name: spec
          in: body
          description: Node Spec
          required: true
          schema:
            $ref: '#/definitions/NodeSpec'
      tags:
        - Update Node
      responses:
        200:
          description: Node update acknowlegded
          schema:
            $ref: '#/definitions/UUID'
        default:
          description: Error updating node
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete a node in the cluster
      description: Node Delete
      parameters:
        - name: uuid
          in: path
          description: Node UUID
          required: true
          type: string
          format: uuid
      tags:
        - Delete Node
      responses:
        200:
          description: Node delete acknowlegded
          schema:
            $ref: '#/definitions/UUID'
        default:
          description: Error deleting node
          schema:
            $ref: '#/definitions/Error'
definitions:
  VolumeCreateParams:
    properties:
      locator:
        $ref: '#/definitions/Locator'
      spec:
        $ref: '#/definitions/VolumeSpec'
      options:
        $ref: '#/definitions/CreateOptions'
  Volume:
    properties:
      uuid:
        type: string
        format: uuid
        description: unique volume UUID
      locator:
        $ref: '#/definitions/Locator'
        description: Volume locator
      ctime:
        type: string
        description: Creation time
      spec:
        $ref: '#/definitions/VolumeSpec'
        description: User specified spec
      status:
        type: string
        description: Volume op status
        enum: [ "NotPresent", "Up", "Down", "Degraded" ]
      state:
        type: number
        description: Volume state. 1 -> CreatePending, 2->Available, 4->Attached, 8->Detached, 16->ErrorState, 32->Deleted
      format:
        type: string
        description: Filesystem for this volume
        enum: [ "xfs", "ext4", "zfs", "none" ]
      usage:
        type: number
        format: int64
        description: Physical blocks used on this volume
      scan_time:
        type: string
        description: Last time this volume was scanned for data integrity
      attached_on:
        type: string
        description: Node on which volume is attached
      replica_set:
        type: array
        items:
          type: string
        description: List of nodes where data is erasure coded
      device_path:
        type: string
        description: Attach path for block devices
      mount_path:
        type: array
        items: 
          type: string
        description: Paths at which the volumes is mounted
      error:
        type: string
        description: Last error on this volume
        
  VolumeSpec:
    properties:
      ephemeral:
        type: boolean
        description: True for ephemeral disks
      size:
        type: number
        format: int64
        description: Maximum size 
      blocksize:
        type: number
        format: int32
        description: Desired fs block size
      halevel:
        type: number
        description: A number specifying the number of nodes that are allowed to fail and data be still available
      cos:
        type: number
        minimum: 1
        maximum: 10
        description: A number between 1 and 10 that specified a class of service
      dedupe:
        type: boolean
        description: Enable or disable deduplication
      snapshot_interval:
        type: number
        description: A number in minutes specifying how oftene snapshots should be taken. 0 disables snapshots
      snapshot_depth:
        type: number
        description: Number of snapshots to keep
      config_labels:
        type: array
        items:
          $ref: '#/definitions/NameValuePair'
        description: Arbitrary name value configuration pairs
        
  CreateOptions:
    properties:
      fail_if_exists:
        type: boolean
        description: Fail if volume with matching locator exists
      create_from_snap::
        type: string
        format: uuid
        description: create volume from specified snapshot
  Locator:
    properties:
      name:
        type: string
        description: user assigned name
      labels:
        type: string
        description: comma seperated name value pairs
  VolumeStateParams:
     properties:
        mount:
          type: integer
          format: int32
          description: 1 to mount, 2 to unmount
        format:
          type: integer
          format: int32
          description: 1 to format
        attach:
          type: integer
          format: int32
          description: 1 to attach, 2 to detach
        mountpath:
          type: string
          description: Path to mount the device
    
  UUID:
    properties:
      name:
        type: string
        description: Volume UUID
        format: uuid
        
  NameValuePair:
    properties:
      name:
        type: string
        description: Name
      value:
        type: string
        description: Value
    
  VolumeStats:
    properties:
      stats:
          type: array
          items:
              $ref: '#/definitions/NameValuePair'
          description: Stats name and value array
  VolumeAlerts:
    properties:
      stats:
          type: array
          items:
              $ref: '#/definitions/NameValuePair'
          description: Alerts name and description array
  Error:
    properties:
      error:
        type: string

  VolumeSnap:
    properties:
      uuid:
        type: string
        format: uuid
        description: Unique snap UUID
      volume_uuid:
        type: string
        format: uuid
        description: Volume UUID that maps to this snapshot
      ctime:
        type: string
        description: Creation time
      usage:
        type: number
        format: int64
        description: Physical blocks used for this snap
      snap_labels:
        type: array
        items:
          $ref: '#/definitions/NameValuePair'
        description: Arbitrary name value pairs
        
  SnapCreateParams:
    properties:
      uuid:
        type: string
        format: uuid
        description: UUID of volume to snap
      labels:
        type: array
        items:
          $ref: '#/definitions/NameValuePair'
        description: Arbitrary name value pairs
        
  NodeSpec:
    properties:
      ip:
        type: string
        description: IP address of the node
      devices:
        type: array
        items:
          $ref: '#/definitions/DevSpec'
        description: Physical devices attached to this node
      cpu:
        type: number
        format: int64
        description: CPU percentage average since the last sample
      memory:
        type: number
        format: int64
        description: Memory available on this node in GB

  DevSpec:
    properties:
      capacity:
        type: number
        format: int64
        description: Disk space available on this device, in GB
      iops:
        type: number
        format: int64
        description: Current average IOPS this device is capable of delivering

